* {
  box-sizing: border-box;
}

body {
  /*font-family: sans-serif;*/
  background: ;

}

#site {
  width: 600px;
  margin: 10px auto;
}

#bloc {
  display: block;
  position: static;
  overflow: hidden;
}

.box {
  margin: 10px;
  line-height: 1.5; /* 设置行间距为1.5倍字体大小 */
  font-size:14px;
  font:normal bolder 14px Arial;
  font-weight:lighter;
  max-width: 100%;
      height: auto;
}

#videoBox {
  border: 2px solid #BEBEBE;
  transition: 0.5s;
}
  

#commentsBox {
  float: left;
  width: 36.3rem;
  Highlight:AUTO;
}

#suggBox {
  float: left;
  width: 34rem;
}

#commentsBox > div,
#suggBox > div {
  background: #66677c;
  margin-bottom: 20px;
  padding: 10px 15px;
}

#suggBox p span {
  width: 100%;
  display: block;
  background: #924;
  height: 58px;
  margin: 10px 0;
}

#suggBox p:before {
  width: 80%;
  content: ' ';
  display: block;
  background: #121314;
  height: 0px;
  margin: 10px 0;
}

#suggBox p:after {
  width: 70%;
  content: ' ';
  display: block;
  background: #999;
  height: 0px;
  margin: 10px 0;
}

#commentsBox p span {
  width: 100%;
  display: block;
  background: #eee;
  height: 56px;
  margin: 15px 0;
}

#commentsBox p:before {
  width: 30%;
  content: ' ';
  display: block;
  background: #121314;
  height: 0px;
  margin: 10px 0;
}

#commentsBox p:after {
  width: 70%;
  content: ' ';
  display: block;
  background: #eee;
  height: 0px;
  margin: 10px 0;
}

video {
  width: 100%;
  vertical-align: bottom;
}

#videoBox.in {
  animation: ac 1s;
}

#videoBox.out {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 999;
  animation: an 0.5s;
}
@media screen and (max-width:610px) {
  image1.hide-at-small-resolution {
    display: none;
  }
  #commentsBox {
  float: left;
  width: auto;
  Highlight:AUTO;

body{
    width: 100%;           /* 宽度 */
    height: 100%;          /* 高度 */
    margin: 20px auto;      /* 上下间距20px，左右自动 */
    padding: 0px;          /* 内边距 */
    border: 0px solid #dddddd;/* 边框 */
    position: relative;     /* 相对定位 */
    top: 0px;             /* 相对于最近定位祖先元素向下偏移100px */
 text-shadow: 0px 0px 1px #BEBEBE;

 }
}