*/@import url('css.css');*{box-sizing:border-box;margin:0;padding:0;font-family:Raleway,sans-serif}body,html{margin: 0;
    padding: 0;
    width: 100%;background:linear-gradient(70deg,#C7C5F4,#776BCC)}.container{display:flex;align-items:center;justify-content:center;min-height:100vh}.screen{background:linear-gradient(90deg,#5D54A4,#7C78B8);position:relative;height:100%;width:660px;margin-top: 15px;
  margin-bottom: 15px;box-shadow:0 0 24px #5C5696}.screen__content{z-index:1;position:relative;height:100%}.screen__background{position:absolute;top:0;left:0;right:0;bottom:0;z-index:0;-webkit-clip-path:inset(0 0 0 0);clip-path:inset(0 0 0 0)}.screen__background__shape{transform:rotate(45deg);position:absolute}.screen__background__shape1{height:0px;width:0px;background:#7e7bb9;top:-50px;right:120px;border-radius:0 72px 0 0}.screen__background__shape2{height:220px;width:220px;background:#6C63AC;top:-172px;right:0;border-radius:32px}.screen__background__shape3{height:540px;width:190px;background:linear-gradient(270deg,#5D54A4,#6A679E);top:-24px;right:0;border-radius:32px}.screen__background__shape4{height:400px;width:200px;background:#7E7BB9;top:420px;right:50px;border-radius:60px}.login{width:320px;padding:30px;padding-top:156px}.login__field{padding:20px 0;position:relative}.login__icon{position:absolute;top:30px;color:#7875B5}.login__input{border:0;border-bottom:2px solid #D1D1D4;background:0;padding:10px;padding-left:24px;font-weight:700;width:75%;transition:.2s}.login__input:active,.login__input:focus,.login__input:hover{outline:0;border-bottom-color:#6A679E}.login__submit{background:#fff;font-size:14px;margin-top:30px;padding:16px 20px;border-radius:26px;border:1px solid #D4D3E8;text-transform:uppercase;font-weight:700;display:flex;align-items:center;width:100%;color:#4C489D;box-shadow:0 2px 2px #5C5696;cursor:pointer;transition:.2s}.login__submit:active,.login__submit:focus,.login__submit:hover{border-color:#6A679E;outline:0}.button__icon{font-size:24px;margin-left:auto;color:#7875B5}.social-login{position:absolute;height:140px;width:160px;text-align:center;bottom:0;right:0;color:#fff}.social-icons{display:flex;align-items:center;justify-content:center}.social-login__icon{padding:20px 10px;color:#fff;text-decoration:none;text-shadow:0 0 8px #7875B5}.social-login__icon:hover{transform:scale(1.5)}
.centered-div {
    width: 600px; /* 固定宽度 */
    margin: 0px auto;/* 水平居中 */
    border: 0px solid #000; /* 边框 */


  }
h4 {
  text-align: center; /* 文字居中 */
  color: #FF4500; /* 文字颜色为红色 */
  font-size: 30px; /* 文字大小为24像素 */
}
p{
padding: 2em; /* 左内边距 */
  text-align: justify; /* 文本两端对齐 */
  text-indent: 2em; /* 首行缩进两格 */
color:#fff;
  margin-bottom: 2px;
margin-top: 2px;
margin-right: 12px;
margin-left: 12px;
      letter-spacing: 1px;
padding: 10px; /* 内边距 */

}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%; /* 指定宽度为视口宽度的50% */
    height: auto; /* 高度自动调整以保持图像比例 */
padding: 5px; /* 文字与图片间距 */
  }
    .plastic {
      font-size: 1rem;
      background-color: #ecf31ec0;
      color: #d44bdb;
      box-shadow: inset 0 calc(var(--diff-from-zero-level) * -10px) 2px 2px rgba(0, 17, 255, 0.2)
    }

    .plastic::before,
    .plastic::after {
      background-color: #33d8e7;
      color: #dedede;
      filter: none
    }
   
.image-container {
  position: relative;
  display: inline-block;
}
 
.image-container img {
  display: block; /* 避免底部空白 */
  width: 98%; /* 或指定宽度 */
}
 
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1); /* 半透明背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
 
.text {
  padding: 5px;
  text-align: center;
 color: #fff; /* 红色文本 */
  font-size: 20px; /* 文本大小为24像素 */
  text-shadow: 2px 2px 2px #000000; /* x偏移量  y偏移量 模糊半径 颜色 */
/* 设置文本透明度 */
  opacity: 0.3;
 
  /* 设置文本位置 */
  position: relative;
  top: 150px; /* 向下移动200像素 */
  left: 0px; /* 向右移动20像素 */
}
.handwriting-text {

  color: #8B0000; /* 文字颜色 */
  font-size: 12px; /* 字体大小 */
  letter-spacing: 2px; /* 字母间距 */

}


