body
{
	margin:		0px; 
	background:	url('escheresque_ste.png');
	font-family: 	'open sans';
	color:		#373737;
	-webkit-font-smoothing:antialiased;
	font-size:  	20px;
	font-weight:	300;
	line-height: 	normal;
	cursor:		pointer
}
.container
{
	position:	relative;
	width:		930px;
	background:	#fff;
	margin:		30px auto;
	padding:	0px  0px;
	border-radius:	3px;
	box-shadow:	0px 0px 5px 0px rgba(0,0,0,0.4);
	cursor:		default;
}
.modal
{
	cursor:		default;
}
.header
{
	padding:	30px 0px;
	text-align: 	center;

	border-radius: 	3px 3px 0px 0px;
	color:		#fff;
	font-size:  	25px;

  background-image: url('2.jpg'); /* 设置背景图片 */
  background-repeat: repeat; /* 让图片完整平铺 */
  background-size: cover; /* 确保背景图片覆盖整个div区域 */
}
.sfd
{
	padding:	20px 0px;
	text-align: 	center;

	border-radius: 	3px 3px 0px 0px;
	color:		#000;
	font-size:  	25px;

}
.header span
{
	font-size:		27px;
	font-weight:  		400;
	margin-right: 		10px;
}
hr
{
	background:		#d0d0d0;
}
.content
{
	padding:		5px 75px;
font-size:  14px;
}
.head
{
	font-size:  		25px;
}
.scroll-to
{
	margin:		20px;
	clear: 			both;
	cursor:			pointer;
}
p 
{
	margin:		20px 0px;
text-align: center;
font-size: 16px;
}
ol.sum
{
	margin:		-5px 0px 0px 55px;
}
ol.sum li
{
	line-height: 		normal;
}
strong
{
	font-weight: 		400;
}
.table thead tr th
{
	font-weight: 		400;
}
p i.icon
{
	margin:		7px 10px 0px 0px;
}
select.speed
{	
	width: 			89px;
	margin: 		0px;
}
.img-holder
{		
	width: 150px;
	height: 150px;
	overflow: hidden;
	margin:	10px;
}
.img-holder img
{
	max-width: 		none;
	cursor:			pointer;
}