@charset "UTF-8";
/* CSS Document */


#logo a {
	background:url(images/livetools-logo@2x.png) no-repeat top left;
	background-size:168px 300px;
}

#tool-formbuilder-button a{
	background:url(images/form-btn@2x.png) no-repeat top left;
	background-size: 312px 156px;
}
#tool-formbuilder-button a:hover{
	background:url(images/form-btn@2x.png) no-repeat top right;
	background-size: 312px 156px;
}
#tool-buttonbuilder-button a{
	background:url(images/buttonbuilder-btn@2x.png) no-repeat top left;
	background-size: 312px 156px;
}
#tool-buttonbuilder-button a:hover{
	background:url(images/buttonbuilder-btn@2x.png) no-repeat top right;
	background-size:312px 156px;
}
#tool-ribbonbuilder-button a{
	background:url(images/ribbon-btn@2x.png) no-repeat top left;
	background-size:312px 156px;
}
#tool-ribbonbuilder-button a:hover{
	background:url(images/ribbon-btn@2x.png) no-repeat top right;
	background-size:312px 156px;
}
#tool-iconbuilder-button a{
	background:url(images/iconbuilder-btn@2x.png) no-repeat top left;
	background-size:312px 156px;
}
#tool-iconbuilder-button a:hover{
	background:url(images/iconbuilder-btn@2x.png) no-repeat top right;
	background-size:312px 156px;
}
.footer-info a{
	background:url(images/info-btn@2x.gif) no-repeat top left;
	background-size:100px 51px;
	
}
.footer-info a:hover{
	background:url(images/info-btn@2x.gif) no-repeat top right;
	background-size:100px 51px;
}